<%- include("partials/header"); -%>


<div id="Jordans" class="whitebackground">


  <div class="sort">

    <div id="sort" class="dropdown">
      <button class="dropbtn">CATEGORIES</button>
      <div id="sorts" class="dropdown-content">
        <li id="clicked" class="j1">Bookbags</li>
        <li id="clicked" class="j2">Hats</li>
        <li id="clicked" class="j3">Other</li>
      </div>
    </div>



</div>


<div class="jordan1s j1">


<div class="card">
  <img src="img/bb3.png" alt="Avatar"  style="width:75%;position:relative;left:10%" >
  <div class="containers down">
    <h4><b>Flight Jordan Bookbag</b></h4>
    <p>$64.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/bb1.png" alt="Avatar"  style="width:70%;position:relative;left:18%" >
  <div class="containers down">
    <h4><b>Nike Air Retro Bookbag</b></h4>
    <p>$99.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/bb2.png" alt="Avatar" style="width:58%;position:relative;left:22.5%">
  <div class="containers down">
    <h4><b>Concord Jordan Bookbag</b></h4>
    <p>$34.99</p>
  </div>
</div>


</div>

<div   class="jordan1s space-above j2">


<div class="card">
  <img src="img/jh1.png" alt="Avatar"  style="width:75%;position:relative;left:5%" >
  <div class="containers containers2">
    <h4><b>Nike Air Hat</b></h4>
    <p>$24.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/jh2.png" alt="Avatar"  style="width:95%;position:relative;left:5%" >
  <div class="containers containers2">
    <h4><b>Dior Bucket Hat</b></h4>
    <p>$249.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/jh3.png" alt="Avatar" style="width:70%;position:relative;left:15%">
  <div class="containers containers2">
    <h4><b>Jumpman Beanie</b></h4>
    <p>$24.99</p>
  </div>
</div>

</div>

<div class="morespace">
<div class="jordan1s space-above j3">


<div class="card">
  <img src="img/jo1.png" alt="Avatar"  style="width:73%;position:relative;left:10%;bottom:5%" >
  <div class="containers containers2">
    <h4><b>Jumpman Fanny Pack</b></h4>
    <p>$24.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/jo2.png" alt="Avatar"  style="width:76%" >
  <div class="containers containers2">
    <h4><b>Fear 4s Key Chain</b></h4>
    <p>$4.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/jo3.png" alt="Avatar" style="width:63%;position:relative;left:15%">
  <div class="containers containers2">
    <h4><b>Jordan Basketball</b></h4>
    <p>$11.99</p>
  </div>
</div>

</div>
</div>





</div>



<%- include("partials/footer"); -%>
