<%- include("partials/header"); -%>


<div id="Jordans" class="whitebackground">


  <div class="sort">

    <div id="sort" class="dropdown">
      <button class="dropbtn">CATEGORIES</button>
      <div id="sorts" class="dropdown-content">
        <li id="clicked" class="j1">Shirts</li>
        <li id="clicked" class="j2">Jackets</li>
        <li id="clicked" class="j3">Joggers</li>
        <li id="clicked" class="j4">Shorts</li>
        <li id="clicked" class="j5">Sweaters</li>
      </div>
    </div>



</div>


<div class="jordan1s j1">


<div class="card">
  <img src="img/s1.png" alt="Avatar"  style="width:58%;position:relative;left:22.5%" >
  <div class="containers down">
    <h4><b>Nike Jumpman Shirt</b></h4>
    <p>$24.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/s2.png" alt="Avatar"  style="width:65%;position:relative;left:22.5%" >
  <div class="containers down">
    <h4><b>Jumpman Shirt</b></h4>
    <p>$24.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/s3.png" alt="Avatar" style="width:70%;position:relative;left:20%">
  <div class="containers down">
    <h4><b>Miami Vice Jumpman Shirt</b></h4>
    <p>$29.99</p>
  </div>
</div>


</div>

<div   class="jordan1s space-above j2">


<div class="card">
  <img src="img/jj.png" alt="Avatar"  style="width:92%;position:relative;left:5%" >
  <div class="containers containers2">
    <h4><b>Supreme Jumpman Jacket</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/jj2.png" alt="Avatar"  style="width:65%;position:relative;left:20%" >
  <div class="containers containers2">
    <h4><b>Plain Retro Jackets</b></h4>
    <p>$64.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/jj3.png" alt="Avatar" style="width:68%;position:relative;left:20%">
  <div class="containers containers2">
    <h4><b>Toro Jacket</b></h4>
    <p>$84.99</p>
  </div>
</div>

</div>


<div class="jordan1s space-above j3">


<div class="card">
  <img src="img/jp1.png" alt="Avatar"  style="width:54%;position:relative;left:20%" >
  <div class="containers containers2">
    <h4><b>Bred Joggers</b></h4>
    <p>$24.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/jp2.png" alt="Avatar"  style="width:75%;position:relative;left:20%" >
  <div class="containers containers2">
    <h4><b>Grey Jumpman Joggers</b></h4>
    <p>$19.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/jp3.png" alt="Avatar" style="width:65%;position:relative;left:22.5%">
  <div class="containers containers2">
    <h4><b>Joggers V.2</b></h4>
    <p>$19.99</p>
  </div>
</div>

</div>


<div  class="jordan1s space-above j4">


<div class="card">
  <img src="img/js1.png" alt="Avatar"  style="width:70%;position:relative;left:10%" >
  <div class="containers containers2">
    <h4><b>Switzerland Jumpman Shorts</b></h4>
    <p>$14.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/js2.png" alt="Avatar"  style="width:70%;position:relative;left:10%" >
  <div class="containers containers2">
    <h4><b>Fire Red Shorts</b></h4>
    <p>$14.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/js3.png" alt="Avatar" style="width:70%;position:relative;left:10%">
  <div class="containers containers2">
    <h4><b>Flight Jumpman Shorts</b></h4>
    <p>$19.99</p>
  </div>
</div>

</div>


<div class="jordan1s space-above j5">


<div class="card">
  <img src="img/jsw1.png" alt="Avatar"  style="width:50%;position:relative;left:25%" >
  <div class="containers containers2">
    <h4><b>Carolina Sweater</b></h4>
    <p>$69.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/jsw2.png" alt="Avatar"  style="width:75%;position:relative;left:15%" >
  <div class="containers containers2">
    <h4><b>Plain Jumpman Sweater</b></h4>
    <p>$19.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/jsw3.png" alt="Avatar" style="width:65%;position:relative;left:20%">
  <div class="containers containers2">
    <h4><b>Jordan Sweater</b></h4>
    <p>$49.99</p>
  </div>
</div>

</div>

</div>



<%- include("partials/footer"); -%>
