<%- include("partials/header"); -%>
<div class="whitebackground service About1">


<h1 style="font-size:3rem" align="middle">Services</h1>
<div class="About guide">
  <div class="Locations">
    <h3>Locations</h3>
    <p>4935 Everette Alley, Miami, FL 33131</p>
    <p>283 Oakwood Circle, Los Angeles, CA 90017</p>
    <p>1592 Ben Street, Albany, NY 12207</p>
  </div>
  <div class="job">
    <h3>Job applicants</h3>
    <p style="line-height:2">
      Proin tincidunt arcu vitae libero posuere tempus. Donec sodales aliquet est, a ultricies arcu lobortis et. Maecenas justo sem, tincidunt eu nisi at, cursus pellentesque sapien. Integer elementum lacus nisl, in convallis velit venenatis sed. Cras laoreet diam id pharetra consequat. Phasellus nulla felis, lacinia at aliquam fermentum, semper non ante. Curabitur ultrices pulvinar efficitur.
    </p>
  </div>
  <div class="customor">
    <h3>Customor service</h3>
    <p>Telephone: 954-236-9028
      <br>
      Main office location: 969 Stroop Hill Road, Atlanta, GA 30309
      <br>
      Office hours Monday-Friday: 9 A.M - 6 P.M
      <br>
      Office hours Weekends and Holidays: 9 A.M - 2 P.M.
    </p>
  </div>
</div>
</div>


<%- include("partials/footer"); -%>
