<%- include("partials/header"); -%>

<div id="Jordans" class="whitebackground">


  <div class="sort">

    <div id="sort" class="dropdown">
      <button onclick="list()" class="dropbtn">CATEGORIES</button>
      <div id="sorts" class="dropdown-content">
        <li id="clicked" class="j1">Jordan 1</li>
        <li id="clicked" class="j2">Jordan 2</li>
        <li id="clicked" class="j3">Jordan 3</li>
        <li id="clicked" class="j4">Jordan 4</li>
        <li id="clicked" class="j5">Jordan 5</li>
        <li id="clicked" class="j6">Jordan 6</li>
        <li id="clicked" class="j7">Jordan 7</li>
        <li id="clicked" class="j8">Jordan 8</li>
        <li id="clicked" class="j9">Jordan 9</li>
        <li id="clicked" class="j10">Jordan 10</li>
        <li id="clicked" class="j11">Jordan 11</li>
        <li id="clicked" class="j12">Jordan 12</li>
        <li id="clicked" class="j13">Jordan 13</li>
        <li id="clicked" class="j14">Jordan 14</li>
      </div>
    </div>



</div>


<div class="jordan1s j1">


<div class="card">
  <img src="img/b1.png" alt="Avatar"  style="width:100%" >
  <div class="containers down">
    <h4><b>Bred retro 1s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/r1.png" alt="Avatar"  style="width:100%" >
  <div class="containers down">
    <h4><b>Royal retro 1s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/ogs1.png" alt="Avatar" style="width:95%">
  <div class="containers down">
    <h4><b>Og Shadow retro 1s</b></h4>
    <p>$199.99</p>
  </div>
</div>


</div>

<div   class="jordan1s space-above j2">


<div class="card">
  <img src="img/i2.png" alt="Avatar"  style="width:90%" >
  <div class="containers containers2">
    <h4><b>Infared retro 2s</b></h4>
    <p>$149.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/d2.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Just Don Blue retro 2s</b></h4>
    <p>$349.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/m2.png" alt="Avatar" style="width:90%">
  <div class="containers containers2">
    <h4><b>Melo retro 2s</b></h4>
    <p>$149.99</p>
  </div>
</div>

</div>


<div class="jordan1s space-above j3">


<div class="card">
  <img src="img/w3.png" alt="Avatar"  style="width:79%" >
  <div class="containers containers2">
    <h4><b>Wolf Grey retro 3s</b></h4>
    <p>$179.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/cm3.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Cyber Monday retro 3s</b></h4>
    <p>$149.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/rc3.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Red Cement retro 3s</b></h4>
    <p>$199.99</p>
  </div>
</div>

</div>


<div  class="jordan1s space-above j4">


<div class="card">
  <img src="img/b4s.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Bred retro 4s</b></h4>
    <p>$249.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/fr4.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Fire Red retro 4s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/t4.png" alt="Avatar" style="width:23vw">
  <div class="containers containers2">
    <h4><b>Toro retro 4s</b></h4>
    <p>$249.99</p>
  </div>
</div>

</div>


<div class="jordan1s space-above j5">


<div class="card">
  <img src="img/f5.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Fire Red retro 5s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/g5.png" alt="Avatar"  style="width:85%" >
  <div class="containers containers2">
    <h4><b>Grape retro 5s</b></h4>
    <p>$224.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/p5.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Paris Saint-Germain retro 5s</b></h4>
    <p>$349.99</p>
  </div>
</div>

</div>


<div class="jordan1s space-above j6">


<div class="card">
  <img src="img/a6.png" alt="Avatar"  style="width:95%" >
  <div class="containers containers2">
    <h4><b>Allstar retro 6s</b></h4>
    <p>$109.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/i6.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Infared retro 6s</b></h4>
    <p>$224.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/unc6.png" alt="Avatar" style="width:85%">
  <div class="containers containers2">
    <h4><b>UNC retro 6s</b></h4>
    <p>$199.99</p>
  </div>
</div>

</div>




<div class="jordan1s space-above j7">


<div class="card">
  <img src="img/b7.png" alt="Avatar"  style="width:90%" >
  <div class="containers containers2">
    <h4><b>Bordeaux retro 7s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/h7.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Hare retro 7s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/o7.png" alt="Avatar" style="width:95%">
  <div class="containers containers2">
    <h4><b>Tinker Alternate retro 7s</b></h4>
    <p>$149.99</p>
  </div>
</div>

</div>




<div class="jordan1s space-above j8">


<div class="card">
  <img src="img/a8.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Aqua retro 8s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/c8.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Chrome retro 8s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/u8.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Take Flight retro 8s</b></h4>
    <p>$149.99</p>
  </div>
</div>

</div>





<div class="jordan1s space-above j9">


<div class="card">
  <img src="img/b9.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Bred retro 9s</b></h4>
    <p>$149.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/d9.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Dream It Do It retro 9s</b></h4>
    <p>$149.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/r9.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>White Gym Red retro 9s</b></h4>
    <p>$179.99</p>
  </div>
</div>

</div>




<div class="jordan1s space-above j10">


<div class="card">
  <img src="img/s10.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Seattle retro 10s</b></h4>
    <p>$149.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/t10.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Bulls Over Broadway retro 10s</b></h4>
    <p>$149.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/v10.png" alt="Avatar" style="width:95%">
  <div class="containers containers2">
    <h4><b>Venom Green retro 10s</b></h4>
    <p>$199.99</p>
  </div>
</div>

</div>





<div class="jordan1s space-above j11">


<div class="card">
  <img src="img/b11.png" alt="Avatar"  style="width:20vw;position:relative;top:10%" >
  <div class="containers containers2">
    <h4><b>Bred retro 11s</b></h4>
    <p>$249.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/s11.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Space Jam retro 11s</b></h4>
    <p>$249.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/c11.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Concord retro 11s</b></h4>
    <p>$249.99</p>
  </div>
</div>

</div>



<div class="jordan1s space-above j12">


<div class="card">
  <img src="img/i12.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Indigo retro 12s</b></h4>
    <p>$224.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/rt12.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Reverse Taxi retro 12s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/y12.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Black University Gold retro 12s</b></h4>
    <p>$199.99</p>
  </div>
</div>

</div>



<div class="jordan1s space-above j13">


<div class="card">
  <img src="img/b13.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>Bred retro 13s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/h13.png" alt="Avatar"  style="width:90%" >
  <div class="containers containers2">
    <h4><b>He Got Game retro 13s</b></h4>
    <p>$199.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/r13.png" alt="Avatar" style="width:100%">
  <div class="containers containers2">
    <h4><b>Ray Allen retro 13s</b></h4>
    <p>$299.99</p>
  </div>
</div>

</div>




<div class="jordan1s space-above space-below j14">


<div class="card">
  <img src="img/r14.png" alt="Avatar"  style="width:90%" >
  <div class="containers containers2">
    <h4><b>Gym Red Toro retro 14s</b></h4>
    <p>$199.99</p>
  </div>
</div>


<div class="card">
  <img  src="img/y14.png" alt="Avatar"  style="width:100%" >
  <div class="containers containers2">
    <h4><b>University Gold retro 14s</b></h4>
    <p>$249.99</p>
  </div>
</div>

<div class="card">
  <img   <img src="img/l14.png" alt="Avatar" style="width:87%;position:relative;bottom:3%">
  <div class="containers containers2">
    <h4><b>Last Shot retro 14s</b></h4>
    <p>$199.99</p>
  </div>
</div>

</div>





  </div>








<%- include("partials/footer"); -%>
